@using Installer.LightningReturnFF13.Components.Dialogs
@inject IDialogService DialogService


<li class="text-shadow-lg text-shadow-cyan-500/50" @onmouseover="HandleMouseover" @onmouseleave="HandleMouseleave" @onclick="Confirm">Créditos</li>

@code {
    [Parameter]
    public EventCallback<string> OnMouseover { get; set; }
    [Parameter]
    public EventCallback<string> OnMouseLeave { get; set; }

    private void HandleMouseover()
    {
        OnMouseover.InvokeAsync(string.Empty);
    }
    private void HandleMouseleave()
    {
        OnMouseover.InvokeAsync(string.Empty);
    }
    private async Task Confirm()
    {
        var options = new DialogOptions
            {
                MaxWidth = MaxWidth.Small,
                DisableBackdropClick = true
            };
        await DialogService.ShowAsync<CreditsDialog>("Dialog", options);
    }
}
