@using Installer.Package
@using Installer.Common.Framework.Extensions
@using Installer.Common.Models
@using Installer.LightningReturnFF13.Components.Dialogs
@using Installer.Common.Abstract
@using Installer.Common.Framework
@using Installer.Common.localization
@using Installer.Common.Service
@inject InstallerServiceProvider InstallerServiceProvider
@inject IDialogService DialogService
@inject IPackageInfo PackageInfo

<li @onmouseover="HandleMouseover" @onmouseleave="HandleMouseleave" @onclick="Confirm">@_btnUpdate</li>


@code {
    [Parameter]
    public EventCallback<string> OnMouseover { get; set; }
    [Parameter]
    public EventCallback<string> OnMouseLeave { get; set; }

    private string _btnUpdate = Localization.Localizer.Get("HomePage.Main.Buttons.Update");

    private void HandleMouseover() => OnMouseover.InvokeAsync(string.Empty);

    private void HandleMouseleave() => OnMouseover.InvokeAsync(string.Empty);

    private async Task Confirm()
    {
        try
        {
            (string translationId, string translationChangelog, string appVersion) = await InstallerServiceProvider.GetJsonDataAsync();

            var parameters = new DialogParameters
        {
            { "AppVersion", appVersion },
            { "ServerPackageDate", translationId },
            { "TranslationChangelog", translationChangelog },
            { "ButtonText", "Instalar" },
            { "Color", Color.Success }
        };

            IDialogReference? dialog = await DialogService.ShowAsync<UpdateDialog>("Confirm", parameters,
                new DialogOptions { NoHeader = true, MaxWidth = MaxWidth.Small });

            DialogResult? result = await dialog.Result;

            if (result.Canceled) return;

            await TranslationUpdate();
        }
        catch (Exception e)
        {
            var errorParameters = new DialogParameters
            {
                { "ContentText", (MarkupString)e.Message },
                { "ButtonCancel", false }
            };

            var errorOptions = new DialogOptions
                {
                    CloseButton = false,
                    MaxWidth = MaxWidth.Large,
                    NoHeader = false
                };
            await DialogService.ShowAsync<CommonDialogs>(e.GetType().Name, errorParameters, errorOptions);
        }
    }

    private async Task TranslationUpdate()
    {
        (_, _, _, string translationChangelog) = await InstallerServiceProvider.GetJsonDataAsync();
        string htmlTranslationUpdateMessage = Localization.Localizer.Get("Messages.TranslationUpdateMessage").ConvertLineBreaksToHtml();
        string translationUpdateMessage =
            string.IsNullOrEmpty(translationChangelog) ?
                htmlTranslationUpdateMessage : $"{htmlTranslationUpdateMessage}\n\nAté agora:\n{translationChangelog}".ConvertLineBreaksToHtml();

        await PackageInfo.Check();

        if (PackageInfo is { IsExists: false, IsValidMagic: false, IsValidId: false, IsValidHash: false })
        {
            bool? result = await DialogService.ShowMessageBox(
                InstallerBase.MessageTitle,
                translationUpdateMessage,
                yesText: Localization.Localizer.Get("HomePage.Main.MessageBoxButtons.TranslationUpdateYesText"),
                cancelText: Localization.Localizer.Get("HomePage.Main.MessageBoxButtons.TranslationUpdateCancelText"));

            if (result is true)
            {
                await PackageInfo.GetPackageTranslation();
            }
        }
    }
}
