<MudPaper Width="100%">
    <MudDialog>
        <DialogContent>
            <MudContainer>
                <MudText>@AppVersion</MudText>
                <MudText>@ServerPackageDate</MudText>
                <MudText>@LocalPackageDate</MudText>
            </MudContainer>
        </DialogContent>
        <DialogActions>
            @if (NewAppVersion)
            {
                <button @onclick="Submit" class="relative inline-flex items-center justify-center p-0.5 mb-1 mr-1 overflow-hidden text-sm font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-cyan-500 to-blue-500 group-hover:from-cyan-500 group-hover:to-blue-500 hover:text-white dark:text-white focus:ring-4 focus:outline-none focus:ring-cyan-200 dark:focus:ring-cyan-800">
                    <span class="relative px-3 py-1.5 transition-all ease-in duration-75 bg-white dark:bg-gray-900 rounded-md group-hover:bg-opacity-0">
                        @ButtonText
                    </span>
                </button>
            }
            else
            {
                <button @onclick="Submit" class="relative inline-flex items-center justify-center p-0.5 mb-1 mr-1 overflow-hidden text-sm font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-cyan-500 to-blue-500 group-hover:from-cyan-500 group-hover:to-blue-500 hover:text-white dark:text-white focus:ring-4 focus:outline-none focus:ring-cyan-200 dark:focus:ring-cyan-800">
                    <span @onclick="Cancel" class="relative px-3 py-1.5 transition-all ease-in duration-75 bg-white dark:bg-gray-900 rounded-md group-hover:bg-opacity-0">
                        Ok
                    </span>
                </button>
            }
        </DialogActions>
    </MudDialog>
</MudPaper>
@code {
    [CascadingParameter] MudDialogInstance MudDialog { get; set; } = null!;

    [Parameter] public bool NewAppVersion { get; set; }
    [Parameter] public MarkupString AppVersion { get; set; }
    [Parameter] public MarkupString ServerPackageDate { get; set; }
    [Parameter] public MarkupString LocalPackageDate { get; set; }

    [Parameter]
    public string ButtonText { get; set; } = "Ok";

    [Parameter] public Color Color { get; set; }

    void Submit() => MudDialog.Close(DialogResult.Ok(true));
    void Cancel() => MudDialog.Cancel();

}
